.footer {
   background-color: var(--foreground);
   color: var(--background);
   display: flex;
   gap: 2rem;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   font-size: 0.875rem;
   position: relative;
}
.contactInfoBox {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}
.copyRight {
   opacity: 0.3;
   text-align: center;
}
@media (min-width: 768px) {
   .footer {
      flex-direction: row;
      justify-content: space-between;
   }
   .contactInfoBox {
      flex-direction: row;
   }
   .copyRight {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
   }
}
